.dashborddad {
  display: flex;
  flex-wrap: wrap; /* Isso permite que os elementos quebrem para a próxima linha */
}


.dashboard {
  width: 800px;
  margin: 50px auto;
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
}

.header {
  padding: 20px;
  background-color: #333;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header h1 {
  color: #fff;
  margin: 0;
}

.content {
  padding: 20px;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.button {
  position: relative;
  overflow: hidden;
}

.button button {
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #ff9800;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.button button img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.button button:hover {
  background-color: #fb8c00;
}

.button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transition: transform 0.5s ease;
  z-index: 0;
  transform: translate(-50%, -50%) scale(0);
}

.button:hover::after {
  transform: translate(-50%, -50%) scale(3);
}


.toolbar {
  background-color: #333; /* Cor de fundo azulada */
  color: #fff; /* Cor do texto branca ou clara para contraste */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adapte a sombra conforme necessário */
  display: flex; /* Exibir itens em linha */
  justify-content: space-around; /* Distribuir os botões uniformemente */
  padding: 8px 16px; /* Adicionar um pouco de espaço interno */
  border-radius: 8px; /* Adicionar bordas arredondadas */
}

.toolbarButton {
  background-color: #fff; /* Cor de fundo azulada */
  color: #333; /* Cor do texto branca ou clara para contraste */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adapte a sombra conforme necessário */
  display: flex; /* Exibir itens em linha */
  align-items: center; /* Alinhar itens verticalmente */
  justify-content: space-between; /* Distribuir os itens uniformemente */
  padding: 8px 16px; /* Adicionar um pouco de espaço interno */
  border-radius: 8px; /* Adicionar bordas arredondadas */
}

.mat-button {
  font-weight: bold; /* Adicionar negrito ao texto do botão */
  text-transform: uppercase; /* Transformar o texto do botão em maiúsculas */
  transition: background-color 0.3s ease; /* Adicionar transição suave */
  flex-grow: 1; /* Permitir que o botão se expanda automaticamente */
}

.mat-button:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Alterar a cor de fundo ao passar o mouse */
}

.mat-icon {
  margin-right: 4px; /* Adicionar um pouco de espaço à direita do ícone */
}

.quantity {
  font-size: 20px; /* Defina o tamanho de fonte desejado */
  font-weight: bold; /* Adicione negrito */

}
